title: "MAP-CS Grant"
description: "Mission Aligned Programs for Computer Science"
url: "https://map-cs.org"
baseurl: ""

remote_theme: chrisrhymes/bulma-clean-theme

plugins:
  - jekyll-remote-theme
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - docs/index.html.old

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: page
      show_sidebar: true
